$dashboard-card-back-ground-color:#526cff;
$text-color                      : #EFF5FA;
$card-background-color           : #ADD8E6;
$card-text-color                 : #000000;
$border-color                    :#cbd5e0;
$text-color                      :#EFF5FA;
$card-background-color           :#ADD8E6;
$card-text-color                 :#000000;
$border-color                    :#cbd5e0;
$dashboard-card-back-ground-color:#75C00A;
$text-color                      :#EFF5FA;
$background-color                :#F8F7FC;
$table-header-color              :#FFFFFF;
$table-header                    :#5463C4;
$dark-blue                       :#1B2043;
$cancel-btn                      :#d9534f;
$document-back-ground-color      :#edf2f7;
$border-color                    :#cbd5e0;
$black                           :#000000;
$buton-color                     :#292828;
$helper-text                     :#FF0000;
$dark-White                      :rgb(199, 199, 199);
$card-white                      :#d4d6ef;
$btn-yellow                      :#ECA925;
$bg-color-white                  :#F8F8FF;
$bg-color-table                  :#DADDFF;
$bg-color-card                   :#d65555;