<div class="m-header">
  <a [routerLink]="['/default/']" class="b-brand">
    <img src="/assets/images/logo-assimilate.f0d22060.webp" alt="theme-logo" class="logo logo-dark w-75 h-100 mt-4" style="margin-left: 20px;" />
  </a>
  <div class="pc-h-item">
    <a
      href="javascript:"
      class="pc-head-link head-link-secondary m-0 mobile-menu"
      [ngClass]="{ on: navCollapsed }"
      id="sidebar-hide mobile-collapse"
      (click)="navCollapse()"
    >
      <i class="ti ti-menu-2"></i>
    </a>
  </div>
</div>
<!-- [ Header ] end -->
